<div class="banner-agile">
    <div class="container">
        <!-- <h2>KỶ NGUYÊN</h2>
        <h3>Màn Hình Tràn </h3>
        <a href="about.html">Xem Thêm</a> -->
    </div>
</div>
<div class="banner-bootom-w3-agileits">
    <div class="container">
        <div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
            <a href="@Url.Action("GetListProduct", "Product",new { id="lastest" })">
                <div class="bb-left-agileits-w3layouts-inner">
                    <h3>Mới nhất</h3>
                    <h4>Trả góp<span>0%</span></h4>
                </div>
            </a>
        </div>
        <div class="col-md-4 bb-grids bb-middle-agileits-w3layouts">
            <a href="@Url.Action("GetListProduct", "Product",new { id="hot" })">
                <div class="bb-middle-top">
                    <h3>Bán Chạy</h3>
                    <h4>Trả góp<span>0%</span></h4>
                </div>
            </a>
            <a href="@Url.Action("GetListProduct", "Product",new { id="mostview" })">
                <div class="bb-middle-bottom">
                    <h3>Máy Cũ</h3>
                    <h4>Like new<span>99%</span></h4>
                </div>
            </a>
        </div>
        <div class="col-md-3 bb-grids bb-right-agileits-w3layouts">
            <a href="@Url.Action("GetListProduct", "Product",new { id="sale" })">
                <div class="bb-right-top">
                    <h3>Sale</h3>
                    <h4>Up To<span>15%</span></h4>
                </div>
            </a>
            <a href="@Url.Action("GetListProduct", "Product")">
                <div class="bb-right-bottom">
                    <h3></h3>
                    <!-- <h4>upto<span>60%</span></h4> -->
                </div>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="top-products">

    <div class="container">

        <h3>Top Products</h3>
        <div class="sap_tabs">
            <div id="horizontalTab">
                <ul class="resp-tabs-list">
                    @foreach (var c in ViewBag.TopProvider)
                    {
                        <li class="resp-tab-item"><span>@c.ProviderName</span></li>
                    }
                </ul>
                <div class="clearfix"> </div>
                @foreach (var product in ViewBag.listProduct)
                {

                    <div class="resp-tabs-container">
                        <div class="tab-1 resp-tab-content">
                            @foreach (var item in product)
                            {
                                var price = item.PriceOut * (100 - item.Discount) / 100;
                                String[] Image = item.IconImg.Split(',');
                                <div class="col-md-3 top-product-grids tp1">
                                    <a href="@Url.Action("ProductDetail", "Product",new { id=item.ProductId })">
                                        <div class="product-img">
                                            <img src="@Image.GetValue(0)" alt="" />
                                            <div class="p-mask">
                                                @*<form action="/Product/addCart/">
                                                    <input type="hidden" name="id" value="@item.ProductId" />
                                                    <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                                </form>*@
                                                <form ng-submit="addCart(@item.ProductId)">
                                                    <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                                </form>
                                            </div>
                                        </div>
                                        @if (item.Discount != 0)
                                        {
                                            <label class="sale_label">Sale</label>
                                        }
                                    </a>
                                    <h4>@item.ProductName</h4>
                                    @if (item.Discount != 0)
                                    {
                                        <h5>@price.ToString("#,###").Replace(",", ".")₫</h5>
                                        <del>@item.PriceOut.ToString("#,###").Replace(",", ".")₫</del>
                                    }
                                    else
                                    {
                                        <h5>@item.PriceOut.ToString("#,###").Replace(",", ".")₫</h5>
                                    }
                                </div>
                            }

                        </div>
                    </div>
                }



            </div>

        </div>
    </div>
</div>




<!-- top-brands -->
<div class="top-brands">
    <div class="container">
        <h3>HÃNG SẢN XUẤT</h3>
        <div class="sliderfig">
            <ul id="flexiselDemo1">
                @foreach (var c in ViewBag.Provider)
                {
                    <li>
                        <img src="@c.IconImg" alt="@c.Description" class="img-responsive" />
                    </li>
                }
            </ul>
        </div>

    </div>
</div>