<div class="banner-agile">
    <div class="container">
        <!-- <h2>KỶ NGUYÊN</h2>
        <h3>Màn Hình Tràn </h3>
        <a href="about.html">Xem Thêm</a> -->
    </div>
</div>
<div class="banner-bootom-w3-agileits">
    <div class="container">
        <div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
            <a href="women.html">
                <div class="bb-left-agileits-w3layouts-inner">
                    <h3>Mới nhất</h3>
                    <h4>Trả góp<span>0%</span></h4>
                </div>
            </a>
        </div>
        <div class="col-md-4 bb-grids bb-middle-agileits-w3layouts">
            <a href="shoes.html">
                <div class="bb-middle-top">
                    <h3>Bán Chạy</h3>
                    <h4>Trả góp<span>0%</span></h4>
                </div>
            </a>
            <a href="jewellery.html">
                <div class="bb-middle-bottom">
                    <h3>Máy Cũ</h3>
                    <h4>Like new<span>99%</span></h4>
                </div>
            </a>
        </div>
        <div class="col-md-3 bb-grids bb-right-agileits-w3layouts">
            <a href="watches.html">
                <div class="bb-right-top">
                    <h3>Sale</h3>
                    <h4>Up To<span>15%</span></h4>
                </div>
            </a>
            <a href="handbags.html">
                <div class="bb-right-bottom">
                    <h3></h3>
                    <!-- <h4>upto<span>60%</span></h4> -->
                </div>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="top-products">

<div class="container" ng-controller="MobileController">
    <input type="text" name="cmd" ng-model="long" />
    <p>{{long}}</p>
    <h3>Top Products</h3>
    <div class="sap_tabs">
        <div id="horizontalTab">
            <ul class="resp-tabs-list">
                @foreach (var c in ViewBag.TopProvider)
                {
                    <li class="resp-tab-item"><span>@c.ProviderName</span></li>
                }
            </ul>
            <div class="clearfix"> </div>
            @foreach (var product in ViewBag.listProduct)
            {
                <div class="resp-tabs-container">
                    <div class="tab-1 resp-tab-content">
                        @foreach (var item in product)
                        {
                            <div class="col-md-3 top-product-grids tp1">
                                <a href="@Url.Action("ProductDetail", "Product",new { id=item.ProductId })">
                                    <div class="product-img">
                                        <img class="item-img" src="@item.IconImg" alt=""  />
                                        <div class="p-mask">
                                            <form action="#" method="post">
                                                <input type="hidden" name="cmd" value="_cart" />
                                                <input type="hidden" name="add" value="1" />
                                                <input type="hidden" name="w3ls1_item" value="@item.ProductName" />
                                                <input type="hidden" name="amount" value="@item.PriceOut" />
                                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                            </form>
                                        </div>
                                    </div>
                                </a>
                                <h4>@item.ProductName</h4>
                                <h5>@item.PriceOut.ToString("#,###").Replace(",", ".")</h5>
                                </div>
                            }

                    </div>
                </div>
                }
               

                        
            </div>

        </div>
    </div>
</div>




<!-- top-brands -->
<div class="top-brands">
    <div class="container">
        <h3>HÃNG SẢN XUẤT</h3>
        <div class="sliderfig">
            <ul id="flexiselDemo1">
                @foreach (var c in ViewBag.Provider)
                {
                    <li>
                        <img src="@c.IconImg" alt="@c.Description" class="img-responsive" />
                    </li>
                }
            </ul>
        </div>

    </div>
</div>