@{
    var check = 0;
    if (Session["Email"] != null)
    {
        if (Session["Email"].ToString() == ViewBag.CustomerInfor.Email)
        {
            check = 1;

        }
    }
}

@if (check == 1)
{
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4  toppad">
                <div class="panel panel-info">
                    <div class="panel-heading panel-inforCustomer">
                        <h3 class="panel-title">Thông Tin Tài Khoản</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class=" col-md-12 col-lg-12 ">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>Họ Tên:</td>
                                            <td >@ViewBag.CustomerInfor.FullName</td>
                                        </tr>
                                        <tr>
                                            <td>Số Điện Thoại:</td>
                                            <td>@ViewBag.CustomerInfor.Phone</td>
                                        </tr>
                                        <tr>
                                            <td>Địa Chỉ:</td>
                                            <td>@ViewBag.CustomerInfor.Address</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>@ViewBag.CustomerInfor.Email</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-right">
                            <a href="@Url.Action("UpdateCustomer", "Customer", new { email = @ViewBag.CustomerInfor.Email })" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                        </span>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 toppad">


                <div class="panel panel-info">
                    <div class="panel-heading panel-inforCustomer">
                        <h3 class="panel-title">Lịch Sử Đặt Hàng</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                @if (ViewBag.ListOrder.Count == 0)
                                {
                                    <h4>Bạn Chưa Có Đơn Hàng Nào!</h4>
                                }else { 
                                <table class="table table-striped ">
                                    <thead>
                                        <tr>
                                            <th>Mã Đơn Hàng</th>
                                            <th>Người Nhận</th>
                                            <th>Số Điện Thoại</th>
                                            <th>Địa Chỉ</th>
                                            <th>Tổng Tiền </th>
                                            <th>Ngày Mua </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var order in ViewBag.ListOrder)
                                        {
                                            <tr>
                                                <td>@order.OrderId</td>
                                                <td>@order.FullName</td>
                                                <td>@order.Phone</td>
                                                <td>@order.Address</td>
                                                <td>@order.Total.ToString("#,###").Replace(",", ".")₫</td>
                                                <td>@order.CreateDate.ToString("dd-MM-yyyy")</td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
else
{
    <div class="container errorPage">
    <h3>
        Đường Dẫn Không Hợp lệ<h3>
    </div>
}
