
@model List<ProjectFinal.Models.ProductViewModel>
@foreach (var item in Model)
{
    String[] Image = item.IconImg.Split(',');
    <div class="col-md-4 women-grids wp1 animated wow slideInUp" data-wow-delay=".5s">
        <a href="@Url.Action("ProductDetail", "Product",new { id=item.ProductId })">
            <div class="product-img">
                <img src="@Image.GetValue(0)" />
                <div class="p-mask">
                    <form action="#" method="post">
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="add" value="1" />
                        <input type="hidden" name="w3ls1_item" value="@item.ProductName" />
                        <input type="hidden" name="amount" value="@item.PriceOut" />
                        <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                    </form>
                </div>
            </div>
        </a>
        <h4>@item.ProductName</h4>
        <h5>@item.PriceOut.ToString("#,###").Replace(",", ".")</h5>
    </div>
}

<div class="clearfix"></div>