<hr />
<footer>
    <div class="footer">
        <div class="container">
            <div class="col-md-4 footer-grids fgd1">
                <a href="index.html"><img src="~/Content/phone/images/logoPhone.png" alt=" " /><h3>iZMobile<span>Store</span></h3></a>
            </div>
            <div class="col-md-4 footer-grids fgd1">
                <h4>Chi Nhánh </h4>
                 <ul>
                    <li>106 Hoàng Quốc Việt ,Quận Cầu Giấy,Hà Nội.</li>
                    <li><a href="mailto:info@gmail.com">info@gmail.com</a></li>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </ul>
            </div>

            <div class="col-md-4 footer-grids fgd4">
                <h4>Tài Khoản</h4>
                <ul>
                    @if (Session["UserName"] != null)
                    {
                        <li>
                        <a href="@Url.Action("getCustomerInfor", "Customer", new { email = @Session["Email"].ToString() })">Quản Lý Tài Khoản</a>
                    </li>
                        <li>@Html.ActionLink("Đăng Xuất", "Logout", "Customer")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Đăng Nhập", "Login", "Customer")</li>
                        <li>@Html.ActionLink("Đăng Ký", "CreateCustomer", "Customer")</li>
                    }
                </ul>
            </div>
            <div class="clearfix"></div>
            <p class="copy-right">© 2016 Mobile Store . All rights reserved | Design by <a href="http://w3layouts.com"> W3layouts.</a></p>
        </div>
    </div>
</footer>