@model List<ProjectFinal.Models.Category>
@* menu bar *@
<div class="header-top-w3layouts">
    <div class="container">
        <div class="col-md-6 logo-w3">
            <a href="~/Home/index"><img src="~/Content/phone/images/logoPhone.png" /><h1>IZPHONE<span>STORE</span></h1></a>
        </div>
        <div class="col-md-6 phone-w3l">
            <ul>
                <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></li>
                <li>+84988888888</li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="header-bottom-w3ls">
    <div class="container">
        <div class="col-md-7 navigation-agileits">
            <nav class="navbar navbar-default">
                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav ">
                        <li><a href="~/Home/index" class="hyper "><span>Home</span></a></li>
                        
                            @foreach (var cat in Model.Where(c => c.ShowHome == 1))
                            {
                                if (cat.ParentId == null)
                                {
                                    var cat2 = Model.Where(c => c.ParentId == cat.CategoryId && c.ShowHome!=0);
                                    if (cat2.ToList().Count == 0)
                                    {
                                        <li><a href="about.html" class="hyper"><span>@cat.CategoryName</span></a></li>
                                    }
                                    else
                                    {
                                        <li class="dropdown ">
                                            <a href="#" class="dropdown-toggle  hyper" data-toggle="dropdown"><span>@cat.CategoryName<b class="caret"></b></span></a>
                                            <ul class="dropdown-menu multi">
                                                <div class="row">

                                                    <div class="col-sm-4">
                                                        <ul class="multi-column-dropdown">
                                                            @for (int i = 0; i < cat2.ToList().Count; i++)
                                                            {
                                                                if (i % 2 == 0)
                                                                {
                                                                <li><a href="women.html"><i class="fa fa-angle-right" aria-hidden="true"></i>@cat2.ElementAt(i).CategoryName</a></li>
                                                                }
                                                            }
                                                        </ul>

                                                    </div>
                                                    <div class="col-sm-4">

                                                        <ul class="multi-column-dropdown">
                                                            @for (int i = 0; i < cat2.ToList().Count; i++)
                                                            {
                                                                if (i % 2 == 1)
                                                                {
                                                                    <li><a href="women.html"><i class="fa fa-angle-right" aria-hidden="true"></i>@cat2.ElementAt(i).CategoryName</a></li>
                                                                }
                                                            }

                                                        </ul>

                                                    </div>
                                                    <div class="col-sm-4 w3l">
                                                        <a href="jewellery.html"><img src="@cat.FeatureImg" class="img-responsive" alt=""></a>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </ul>
                                        </li>
                                    }

                                }
                            }
                    </ul>
                </div>
            </nav>
        </div>
        <script>
				$(document).ready(function(){
					$(".dropdown").hover(
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');
						}
					);
				});
        </script>
        <div class="col-md-4 search-agileinfo">
            <form action="#" method="post">
                <input type="search" name="Search" placeholder="Search for a Product..." required="">
                <button type="submit" class="btn btn-default search" aria-label="Left Align">
                    <i class="fa fa-search" aria-hidden="true"> </i>
                </button>
            </form>
        </div>
        <div class="col-md-1 cart-wthree">
            <div class="cart">
                <form action="#" method="post" class="last">
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="display" value="1" />
                    <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script src="~/Content/phone/js/minicart.js"></script>
<script>
        w3ls1.render();

        w3ls1.cart.on('w3sb1_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) {
        			items[i].set('shipping', 0);
        			items[i].set('shipping2', 0);
        		}
        	}
        });
</script>