@model List<ProjectFinal.Models.Category>
@{
    var list = Session["myCart"] as List<ProjectFinal.Models.ProductOrderModel>;
    var Customer = Session["User"] as List<ProjectFinal.Models.CustomerRegister>;
}
<div class="header-top-w3layouts">
    <div class="container">
        <div class="col-md-6 logo-w3">
            <a href="~/Home/index"><img src="~/Content/phone/images/logoPhone.png" /><h1>IZPHONE<span>STORE</span></h1></a>
        </div>
        <div class="col-md-6 phone-w3l">
            <ul>
                @if (Session["Email"] != null)
                {
                    <li>Welcome <a href="@Url.Action("getCustomerInfor", "Customer",new { email= @Session["Email"].ToString() })" class="fullName">@Session["UserName"].ToString()</a></li>
                    
                    <li>@Html.ActionLink("Đăng Xuất", "Logout", "Customer")</li> <br />
                }
                <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></li>
                <li>+84988888888</li>
               
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="header-bottom-w3ls">
    <div class="container">
        <div class="col-md-7 navigation-agileits">
            <nav class="navbar navbar-default">
                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav ">
                        <li><a href="~/Home/index" class="hyper "><span>Home</span></a></li>
                        
                            @foreach (var cat in Model.Where(c => c.ShowHome == 1))
                            {
                                if (cat.ParentId == null)
                                {
                                    var cat2 = Model.Where(c => c.ParentId == cat.CategoryId && c.ShowHome!=0);
                                    if (cat2.ToList().Count == 0)
                                    {
                                        <li><a href="@cat.MetaLink" class="hyper"><span>@cat.CategoryName</span></a></li>
                                    }
                                    else
                                    {
                                        <li class="dropdown ">
                                            <a href="#" class="dropdown-toggle  hyper" data-toggle="dropdown"><span>@cat.CategoryName<b class="caret"></b></span></a>
                                            <ul class="dropdown-menu multi">
                                                <div class="row">

                                                    <div class="col-sm-4">
                                                        <ul class="multi-column-dropdown">
                                                            @for (int i = 0; i < cat2.ToList().Count; i++)
                                                            {
                                                                if (i % 2 == 0)
                                                                {
                                                                <li><a href="@Url.Action("GetListProduct", "Product",new { id=cat2.ElementAt(i).CategoryId })"><i class="fa fa-angle-right" aria-hidden="true"></i>@cat2.ElementAt(i).CategoryName</a></li>
                                                                }
                                                            }
                                                        </ul>

                                                    </div>
                                                    <div class="col-sm-4">

                                                        <ul class="multi-column-dropdown">
                                                            @for (int i = 0; i < cat2.ToList().Count; i++)
                                                            {
                                                                if (i % 2 == 1)
                                                                {
                                                                    <li><a href="@Url.Action("GetListProduct", "Product",new { id=cat2.ElementAt(i).CategoryId })"><i class="fa fa-angle-right" aria-hidden="true"></i>@cat2.ElementAt(i).CategoryName</a></li>
                                                                }
                                                            }

                                                        </ul>

                                                    </div>
                                                    <div class="col-sm-4 w3l">
                                                        <a href="jewellery.html"><img src="@cat.FeatureImg" class="img-responsive" alt=""></a>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </ul>
                                        </li>
                                    }

                                }
                            }
                    </ul>
                </div>
            </nav>
        </div>
        <script>
				$(document).ready(function(){
					$(".dropdown").hover(
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');
						}
					);
				});
        </script>
        <div class="col-md-4 search-agileinfo">
                <input type="search" id="searchInput" name="Search" ng-model="ProductName" autocomplete="off" placeholder="Search for a Product..." ng-change="searchProductName()">
                <button  class="btn btn-default search" ng-click="searchProductbyName(ProductName)" aria-label="Left Align">
                    <i class="fa fa-search" aria-hidden="true"> </i>
                </button>
                <div class="SearchResult" >
                    <div class="SearchRemain">
                        <ul >
                            <li ng-repeat="item in PSearch">
                                <a class="spham" href="/Product/ProductDetail/{{item.ProductId}}">
                                    <p>
                                        <img src="{{item.IconImg}}" />
                                    </p>
                                    <div>
                                        <h3>{{item.ProductName}}</h3>
                                        <p ng-if="item.Discount!=0">{{item.PriceOut*(100-item.Discount)/100 | currency:"":0}} ₫ <del style="font-size:11px; color:black">{{item.PriceOut | currency:"":0}} ₫</del> </p>
                                        <p ng-if="item.Discount==0">
                                            {{item.PriceOut | currency:"":0}}₫
                                        </p>

                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            @*</form>*@
        </div>
        <div class="col-md-1 cart-wthree">
            <div class="cart">
                <form action="/Order/CreateOrder" method="post" class="last">
                    <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                    <p class="countProduct">
                       
                    </p>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
